/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background-color:  #fdd19c;
    font-family: 'Lora', serif;
}

/* section{
    display: flex;
    width: 1000px;
    height: 600px;
}

section img{
    width: 0px;
    flex-grow:1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}

section img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
} */

#account{
    font-size: 50px;
    color:#ffc107;
}

.dropdown-item{
    text-decoration: no;
}

#fadein {
    animation: fadeIn 5s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

a:hover{
    color: black;
}

#accountPrivate{
    font-size: 140px;
    color:#ffc107;
}

#modifyUser{
    background: #fcd86e;
}

#Icons {
    color: #b79b36;
    font-size: x-large;
}
  
#Text {
    color: #b79b36;
    font-size: small;
}