/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background-color:  rgba(246,246,246,1);
    font-family: 'Lora', serif;
}

#account{
    font-size: 50px;
    color:#ffc107;
}

.dropdown-item{
    text-decoration: no;
}

#fadein {
    animation: fadeIn 10s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

a:hover{
    color: black;
}

#accountPrivate{
    font-size: 140px;
    color:#ffc107;
}

#modifyUser{
    background: #fcd86e;
}

#Icons {
    color: #b79b36;
    font-size: x-large;
}
  
#Text {
    color: #b79b36;
    font-size: small;
}

.container1{
    transform-style: preserve-3d;
}

.container1 .box{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container1 .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.container1 .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container1 .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(237, 236, 221);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container1 .box:hover .body{
    transform: rotateY(180deg);
}

.container1 .box .body .content div{
    transform-style: preserve-3d;
    padding: 80px;
    background: linear-gradient(45deg, #e8d49f,#bfb135);
    transform: translateZ(100px);
}

.container1 .box .body .content div h3{
    letter-spacing: 1px;
}

.container1 .box .body .content .btn{
    background-color: #fcd86e;
    color: black;
}

.container1 .box .body .content .btn:hover{
    background-color: #a4780f;
    color: white;
}




