/*
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background: rgb(246,246,246);
    background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(187,160,113,1) 51%, rgba(129,97,43,1) 85%, rgba(52,38,16,1) 100%);
    font-family: 'Lora', serif;
}

#account{
    font-size: 50px;
    color:#ffc107;
}

.dropdown-item{
    text-decoration: no;
}

#fadein {
    animation: fadeIn 5s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

a:hover{
    color: black;
}

#accountPrivate{
    font-size: 140px;
    color:#ffc107;
}

#modifyUser{
    background: #d5b47690;
}

#Icons {
    color: #b79b36;
    font-size: x-large;
}

#Text {
    color: #b79b36;
    font-size: small;
}

.container1{
    transform-style: preserve-3d;
}

.container1 .box{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 10px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container1 .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.container1 .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container1 .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container1 .box:hover .body{
    transform: rotateY(180deg);
}

.container1 .box .body .content div{
    transform-style: preserve-3d;
    padding: 80px;
    background: linear-gradient(45deg, #dbdada,#f8eeda);
    transform: translateZ(100px);
}

.container1 .box .body .content div h3{
    letter-spacing: 1px;
}

.container1 .box .body .content div p{
    font-size: small;
}

.container1 .box .body .content .btn{
    background-color: transparent;
    border-color: black;
    color: black;
}

.container1 .box .body .content .btn:hover{
    background-color: #010101;
    color: white;
}

/* ---------- */

.horseCardContainer {
    position : relative;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    padding : 3px;
  }

  .horseCardContainer .horseCard {
    position: relative;
    max-width : 300px;
    height : 215px;
    background-color : #d5b47643;
    margin : 0 10px;
    padding : 40px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 10px #a7a0938a;
    transition : 0.3s ease-in-out;
  }
  .horseCardContainer .horseCard:hover {
    height : 350px;
  }

  .horseCardContainer .horseCard .horseCardImage {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    left: 4px;
    box-shadow : 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index : 1;
  }

  .horseCardContainer .horseCard .horseCardImage img {
    max-width : 100%;
  }

  .horseCardContainer .horseCard .horseCardContent {
    position : relative;
    top : -100px;
    padding : 10px 15px;
    color : #111;
    text-align : start;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
  }
  .horseCardContainer .horseCard .horseCardContent p{
    margin: 0;
    text-align: left;
  }

  .horseCardContainer .horseCard:hover .horseCardContent {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
  }

.oneHorse{
    width: 100%;
    box-sizing: content-box;
}

.descriptionIcons .material-symbols-outlined{
    font-size: 4em;
    margin-bottom: 10px;
    padding: 3px;
    color:rgba(190, 125, 71, 0.952);
    background-color: #f8eeda;
}
.descriptionIcons p{
    padding-top: 20px;
    padding-left: 5px;
}

.descriptionAndPrice{
    width: 50%;

}
.chat{
    box-sizing: content-box;
    float: right;
    width: 55%;
}
.messagesBox{
    background-color: #faf8f5;
    height: 600px;
    box-sizing: content-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.434);
}
.messagesTitle, .messageToSend{
    background-color: #f0ebe2;
    height: 12.5%;
}
.messages{
    height: 75%;
    overflow-y:scroll;
    padding: 1em 1.5em 1em 1.5em;
}

.messagesSpan{
    box-sizing: content-box;
    padding: 1em;
    box-sizing: border-box;
}
.usuarioLogeado{
    display: inline-block;
    padding: 10px;
    max-width: 45%;
    background-color: rgba(190, 125, 71, 0.952);
    color: white;
    border-radius: 5px;
}
.otro{
    display: inline-block;
    padding: 10px;
    max-width: 45%;
    background-color: #f6dba5;
    color: black;
    border-radius: 5px;
}
.messageToSend{
    box-sizing: content-box;
}

.messageToSend input{
    width: 70%;
    height: 2em;
    margin-left: 8em;
    box-sizing: content-box;
    background-color: #fcfcfc;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 5px #cdcdcd;
    box-shadow:inset 0 0 5px #cdcdcd;
}

.send{
    font-size: 2em;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    color: rgba(190, 125, 71, 0.952);
    border-color: rgba(253, 195, 148, 0.952);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: black;
    background-color: rgba(190, 125, 71, 0.952);
    border-color:black;
}

.nav-pills{
    width: 20%;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #67480a;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(246, 200, 102, 0.25);
}
.accordion-button{
    color:black;
    background-color: #f8eeda;;
    border-color: red;
}
.accordion-button:not(.collapsed){
    color:rgb(37, 28, 17);
    background-color: #e3d2b2;
}
button .accordion-button:active{
    color: white;
}